body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.page-1 {
    background-image: url("/imgs/backgrounds/programar.jpg");
    background-size: cover;
    height: 100vh;
    width: auto;
}

#guilherme {
    display: block;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    font-weight: 800;
    margin-top: 0px;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}
.page-1 #header {
    display: flex;
    justify-content: space-around;
    padding: 30px;

}

#bt-cursos, #bt-sobre, #bt-projetos, #bt-skils{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 15px;
}

.sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.sobre img {
    float: left;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 80px;
}

.sobre p {
    float: right;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-right: 40px;
}

.cursos {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.cursos img {
    float: left;
    border-radius: 10px;

}

#facul, #linux, #rocketseat {
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

#arquitetura, #html, #javascript {
    background-color: rgb(217, 151, 243);
    padding: 20px;
}

.list {
    list-style-image: url('sqpurple.gif');
}